* {
    margin: 0;
    padding: 0;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 26rem;
    width: 18rem;
    transform: translate(-50%, -50%);
    color: #E0E0E0;

}

.login-head {
    position: relative;
    left: 33%;
    padding-bottom: 3rem;
    font-weight: 600;
    text-decoration-line: underline;
    font-size: 2rem !important;
}
